/* IMPORT */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&display=swap');

/* VARIABLES */
    :root {
        --font: 'DM Mono', monospace;
    }
/* GLOBAL */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #121212;
    font-family: Arial, Helvetica, sans-serif;
    font-family: var(--font);
    color: white;
}

header {
    background-color: #0a0a0a;
}

h1, h3 {
    text-align: center;
}

main {
    align-content: center;
    max-width: 1000px;
    margin: auto;
}

ul {
    list-style-type: '> ';
    list-style-position: inside;
    /* columns: 2; */
    margin-left: 30px;
}

.sec {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

#hob {
    columns: 2;
}

img {
   width: 800px;
}